# Mission to Mars
Created by Dale Currigan, June 2021

In [1]:
# Import Libraries  
from bs4 import BeautifulSoup as bs
import requests

from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

import pandas as pd

In [2]:
# URL's

# NASA Mars News website  
news_url = "https://redplanetscience.com/"

# JPL MArs Space Images
images_url = "https://spaceimages-mars.com/"

# Mars Facts 
facts_url = "https://galaxyfacts-mars.com/"

# Mars Hemispheres 
hemispheres_url = "https://marshemispheres.com/"

In [3]:
# Set-up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\User\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

## Mars NASA News

In [4]:
# SCRAPE NASA MARS NEWS WITH SPLINTER

# Open the url
browser.visit(news_url)

html = browser.html
soup = bs(html, 'html.parser')

In [5]:
# Collect title and paragraph text of the first article 

# HTML Structure
#    <div class_='list_text' >
#        |____<'div  class_='article_title'>          # The Title 
#        |____<'div' class_='article_teaser_body'>    # The Paragraph Text

results = soup.find_all('div', class_='list_text')

for result in results:
    news_title = soup.find('div', class_='content_title').text
    news_p = soup.find('div', class_='article_teaser_body').text

print(news_title)
print(news_p)

My Culture, My Voice
In honor of Hispanic Heritage Month, Christina Hernandez, an instrument engineer on the Mars 2020 mission, talks about her childhood and journey to NASA.

## JPL Mars Space Images

In [6]:
# SCRAPE JPL MARS SPACE IMAGES WITH SPLINTER

# Open the url
browser.visit(images_url)

# Instruct splinter to click on the 'Full Image' link to retrieve full image url
browser.links.find_by_partial_text('FULL IMAGE').click()

# Scrape the new page data
html = browser.html
soup = bs(html, 'html.parser')

# find all images
images = soup.find_all('img')
images

## THE FULL IMAGE OF FEATURE IMAGE IS THE LAST IMAGE IN THE LIST

[<img id="logo" src="image/nasa.png"/>,
 <img class="headerimage fade-in" src="image/featured/mars2.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Icaria Fossae7.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes 7.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Icaria Fossae7.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes 7.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes 7.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Icaria Fossae7.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Icaria Fossae.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Ariadnes Colles4.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Niger Vallis.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Niger Vallis.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Sirenum Fossae.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Ariadnes Colles4.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/South Polar Cap.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Ariadnes Colles3.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Atlantis Chaos.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Icaria Fossae.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Niger Vallis.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Proctor Crater Dunes.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Reull Vallis.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Ariadnes Colles3.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Sirenum Fossae.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/South Polar Cap.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Niger Vallis.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Icaria Fossae.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Ariadnes Colles4.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/South Polar Cap.jpg"/>,
 <img alt="" class="thumbimg" src="image/mars/Daedalia Planum.jpg"/>,
 <img id="pic" src=""/>,
 <img alt="Card image cap" class="card-img-top" src="https://www.jpl.nasa.gov/assets/images/content/tmp/images/jpl_photojournal(3x1).jpg"/>,
 <img alt="Card image cap" class="card-img-top" src="https://www.jpl.nasa.gov/assets/images/content/tmp/images/nasa_images(3x1).jpg"/>,
 <img alt="Card image cap" class="card-img-top" src="https://imagecache.jpl.nasa.gov/images/640x350/C1-PIA24304---CatScanMars-16-640x350.gif"/>,
 <img alt="Card image cap" class="card-img-top" src="https://imagecache.jpl.nasa.gov/images/640x350/PIA23491-16-640x350.jpg"/>,
 <img alt="Card image cap" class="card-img-top" src="https://imagecache.jpl.nasa.gov/images/640x350/C1-PIA23180-16-640x350.gif"/>,
 <img alt="" class="fancybox-image" src="image/featured/mars2.jpg"/>]

In [7]:
# Retrieve URL for the full image
relative_url = soup.find_all('img')[-1]['src']

# Combine with base URL to get full link
full_url = images_url + relative_url
full_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

## Mars Facts

In [8]:
# PANDAS SCRAPE THE MARS FACTS TABLES 

# Import the table with pd.read_html
table = pd.read_html(facts_url)
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [9]:
# Clean up first table 
comparison_table = table[0]                                            # retrieve the earth/moon comparison table             
new_headers = comparison_table.iloc[0]                                 # store the first row for the new column names
comparison_table = comparison_table[1:]                                # remove column names from the main table data 
comparison_table.columns = new_headers                                 # set the new column names
comparison_table.set_index('Mars - Earth Comparison', inplace=True)    # reset the index names to the 'comparisons' column
comparison_table.index.name = None                                     
comparison_table

0                              Mars            Earth
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [10]:
# Clean up second table 
mars_table = table[1]                          # retrieve the Mars data table
mars_table = mars_table.set_index(0)           # reset the index to the first column 
mars_table.index.name = None                   # change the column header names
mars_table.columns = [""]
mars_table

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

## Mars Hemispheres

In [11]:
# SCRAPE MARS HEMISPHERES WITH SPLINTER

# Create empty list to store the scraped data
hemi_image_urls = []


# Open the url
browser.visit(hemispheres_url)

# Pull the hemisphere names from the page
html = browser.html
soup = bs(html, 'html.parser')

image_links = [] # list to store the hemisphere names

for name in soup.find_all('h3'):
    image_links.append(name.text)

image_links = image_links[0:4] # remove the 'Back' element from the list


# Iterate through each link
for link in image_links:
    browser.links.find_by_partial_text(link).click()

    html = browser.html
    soup = bs(html, 'html.parser')
    
    # save the link to sample image
    for a in soup.find_all('a', href=True): 
        if a.text == "Sample": 
            sample_url = hemispheres_url + a['href']
    
    # save the link to full high-res image
    for a in soup.find_all('a', href=True): 
        if a.text == "Original": 
            original_url = hemispheres_url + a['href']
    
    # append data to the hemi_image_url list 
    hemi_image_urls.append({'title': link[:-len(' Enhanced')], # removes ' Enhanced' from the title
                            'sample_url': sample_url,
                            'original_url': original_url})
  
    browser.back()

print(hemi_image_urls)

[{'title': 'Cerberus Hemisphere', 'sample_url': 'https://marshemispheres.com/images/full.jpg', 'original_url': 'https://marshemispheres.com/images/cerberus_enhanced.tif'}, {'title': 'Schiaparelli Hemisphere', 'sample_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg', 'original_url': 'https://marshemispheres.com/images/schiaparelli_enhanced.tif'}, {'title': 'Syrtis Major Hemisphere', 'sample_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg', 'original_url': 'https://marshemispheres.com/images/syrtis_major_enhanced.tif'}, {'title': 'Valles Marineris Hemisphere', 'sample_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg', 'original_url': 'https://marshemispheres.com/images/valles_marineris_enhanced.tif'}]